
@model AttendanceProject.Models.AttendanceModel

@using (Html.BeginForm("SubmitAttendance", "Attendance", FormMethod.Post))
{
    <div>
        <label>Date:</label>
        @Html.TextBoxFor(m => m.AttendanceDate, new
   {
       @readonly = Model.IsAdmin ? "" : "readonly",
       @Value = Model.AttendanceDate.ToString("yyyy-MM-dd"),
       @type = "date"
   })
    </div>

    <div>
        <label>Type:</label>
        @Html.DropDownListFor(m => m.AttendanceType, new SelectList(new[] {
            "Full Day", "First Half", "Second Half"
        }), "-- Select --")
    </div>

    <input type="submit" value="Mark Attendance" />
}
