@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Dashboard.css" rel="stylesheet" />



<h2 id="welcomeText">Welcome</h2>


<div class="dashboard-cards">
    <div class="card" onclick="location.href='/Leave/Apply'">
        <div class="chart-container" >
            
            <canvas id="leaveChart"></canvas>
        </div>
    </div>

    <div class="card" onclick="location.href='/Attendance/Index'">
        <div class="calendar-container">
            
            <div id="fullcalendar"></div>
        </div>
    </div>

    <div class="card" onclick="location.href='/Documents/HRPolicies'">
        <div style="width: 100%;">
            <h3>HR Policies</h3>
            <ul>
                <li><a href="#" onclick="return false;">https://labour.gov.in</a></li>
                <li><a href="#" onclick="return false;">https://www.epfindia.gov.in</a></li>
                <li><a href="#" onclick="return false;">https://www.esic.nic.in</a></li>
                <li><a href="#" onclick="return false;">https://wcd.nic.in/sites/default/files/Act%20and%20Rules.pdf</a></li>
                <li><a href="#" onclick="return false;">https://nsdcindia.org</a></li>
            </ul>
        </div>
    </div>

    <div class="card" onclick="location.href='/Documents/Index'">
        <div style="width: 100%;">
            <h3>Documents</h3>
            <ul>
                <li><a href="#" onclick="return false;">https://labour.gov.in</a></li>
                <li><a href="#" onclick="return false;">https://www.epfindia.gov.in</a></li>
                <li><a href="#" onclick="return false;">https://www.esic.nic.in</a></li>
                <li><a href="#" onclick="return false;">https://wcd.nic.in/sites/default/files/Act%20and%20Rules.pdf</a></li>
                <li><a href="#" onclick="return false;">https://nsdcindia.org</a></li>
            </ul>
        </div>
    </div>
</div>
