@model HRMSModels.LeaveRequestModel

@{
    ViewBag.Title = "LeaveForm";
}

<div class="text-center bg-primary">
    <h4>Leave Request</h4>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.Partial("_LeaveFormPartial", Model)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="SUBMIT" value="Create" class="btn btn-default" />
        </div>
        <div>
            @Html.ActionLink("Cancel", "Leaves")
        </div>
    </div>
    </div>
}

<script>
    $("#StartDate, #EndDate, #FromSecondHalf, #UptoFirstHalf").change(function () {
        $.get('/Leave/CalculateLeaveDays', {
            fromDate: $("#StartDate").val(),
            toDate: $("#EndDate").val(),
            fromSecondHalf: $("#FromSecondHalf").is(":checked"),
            uptoFirstHalf: $("#UptoFirstHalf").is(":checked")
        }, function (data) {
            $("#TotalDays").val(data.leaveDays);
        });
    });
</script>
