@model HRMSProject.Models.EmployeeRegModel

@{
    ViewBag.Title = "Register";
}




<div class="form-card">

    <header class="form-card-header">
        Employee Form
    </header>


    @using (Html.BeginForm("Edit", "Employee", new { id =""}, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.EMP_ID)
        <div class="form-card-body" id="formCardBody">
            @Html.Partial("EmployeeFormPartial", Model)
        </div>
        <div class="form-card-footer">
            <input type="SUBMIT" value="Save" class="btn btn-success" />
            @Html.ActionLink("Cancel", "Employees", null, new { @class = "btn btn-danger" })
            <button style="margin-left:auto" type="button" id="btnChangePassword" class="btn btn-warning">Change Password</button>
        </div>
    }
</div>


<script>
            $('#ProfilePostedFile').change(function (event) {
                var input = event.target;
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#profilePreview')
                            .attr('src', e.target.result)
                            .show();
                    };
                    reader.readAsDataURL(input.files[0]);
                } else {
                    $('#profilePreview').hide();
                }
            });

            $('#CountryID').change(function () {
                var countryId = $(this).val();
                $('#StateID').empty().append('<option>Select State</option>');
                $('#CityID').empty().append('<option>Select City</option>');

                if (countryId) {
                    $.get('/Employee/GetStates', { countryID: countryId }, function (data) {
                        $.each(data, function (index, item) {
                            $('#StateID').append($('<option>', {
                                value: item.StateID,
                                text: item.StateName
                            }));
                        });
                    });
                }
            });

            $('#StateID').change(function () {
                var stateId = $(this).val();
                $('#CityID').empty().append('<option>Select City</option>');

                if (stateId) {
                    $.get('/Employee/GetCities', { stateID: stateId }, function (data) {
                        $.each(data, function (index, item) {
                            $('#CityID').append($('<option>', {
                                value: item.CityID,
                                text: item.CityName
                            }));
                        });
                    });
                }
            });

    $('#btnChangePassword').click(function () {
        let $btn = $(this);
        let passwordFieldsId = "passwordFields";

        if ($("#" + passwordFieldsId).length) {
            // Remove the password fields if already present
            $("#" + passwordFieldsId).remove();
            $btn.text("Change Password");
        } else {
            // Append password fields dynamically
            let passwordHtml = `
            <div id="${passwordFieldsId}">
                <div class="row">
                    <div class="form-group triple-column">
                        <div class="column">
                            <label for="Password" class="control-label">Password</label>
                            <input class="form-control" type="password" id="Password" name="Password" />
                        </div>
                        <div class="column">
                            <span class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group triple-column">
                        <div class="column">
                            <label for="ConfirmPassword" class="control-label">Confirm Password</label>
                            <input class="form-control" type="password" id="ConfirmPassword" name="ConfirmPassword" />
                        </div>
                        <div class="column">
                            <span class="text-danger field-validation-valid" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
            </div>
        `;

            $("#formCardBody").append(passwordHtml);
            $btn.text("Remove Password Fields");
        }
    });

</script>
