@model IEnumerable<HRMSProject.Models.EmployeeListModel>


@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.EmployeeID).Titled("Employee ID").Sortable(true);
        columns.Add(model => model.Name).Titled("Name").Sortable(true);
        columns.Add(model => model.Email).Titled("Email").Sortable(true);
        columns.Add(model => model.Phone).Titled("Phone").Sortable(true);
        columns.Add(model => model.CreatedON).Titled("Created On").Sortable(true);
        columns.Add(model => model.UpdatedON).Titled("Updated On").Sortable(true);
        columns.Add(item => $"<a class='action-icon icon-warning' href='{Url.Action("Edit", new { id = item.EmployeeID })}'>  <i class='fa fa-edit'></i> </a>" +
        $"<a class='action-icon icon-danger' href='{Url.Action("Delete", new { id = item.EmployeeID })}'>  <i class='fa-solid fa-trash'></i> </a>"
        ).Encoded(false);

    })
    .Sortable()
    .Filterable()
    .Pageable(pager => {
        pager.PageSizes = new Dictionary<int, string>() { { 5, "5" }, { 10, "10" }, { 20, "20" }, { 0, "ALL" } };
        pager.ShowPageSizes = true;
        pager.PagesToDisplay = 3;
        pager.CurrentPage = 2;
    }
    )
)