@model IEnumerable<HRMSProject.Models.EmployeeListModel>
@using HRMSProject.Models;
@{
    ViewBag.Title = "Employees";
}

@{
    Pager pager = ViewBag.pager;
}

<div class="Grid-Actions">
    @Html.ActionLink("+Add New", "Add", null, htmlAttributes: new { @class = "btn btn-success" })

</div>

<div class="main-grid-body">
    @Html.Partial("EmployeeGridPartial", Model);
</div>
