@model IEnumerable<HRMSModels.AttendanceModel>
<style>
    .action-col {
        text-align: center !important;
        vertical-align: middle !important;
        width: 80px !important;
        text-decoration: none;
    }

        .action-col a {
            font-size: 16px !important;
            cursor: pointer;
            color: #007bff !important;
            </style>
@(
Html.Grid(Model ?? Enumerable.Empty<HRMSModels.AttendanceModel>
    ())
    .Build(columns =>
    {

        columns.Add(model => model.FirstName).Titled("Name").Sortable(true).RenderedAs(model => $"{model.FirstName} {model.MiddleName} {model.LastName}")
        .Titled("Name")
        .Sortable(true);

        columns.Add(model => model.AttendanceDate.ToString("dd-MM-yyyy"))
        .Titled("Date")
        .Sortable(true);


        columns.Add(model => model.CreatedOn.ToString("dd-MM-yyyy"))
        .Titled("Request Date")
        .Sortable(true);

        columns.Add(model => model.Status.ToString())
        .Titled("Status")
        .Sortable(true);

        columns.Add(model =>
        new HtmlString(
            $"<a href='/Attendance/Edit?empId={model.Emp_ID}&attendanceDate={model.AttendanceDate:yyyy-MM-dd}'><i class='fa fa-edit'></i></a>"
        )
    )
    .Titled("Action")
    .Encoded(false)
    .Css("action-col");

    })
    .Sortable()
    .Filterable()
    .Pageable(pager =>
    {
        pager.PageSizes = new Dictionary<int, string>() { { 5, "5" }, { 10, "10" }, { 20, "20" }, { 0, "ALL" } };
        pager.ShowPageSizes = true;
        pager.PagesToDisplay = 3;
        pager.CurrentPage = 1;
    })
)
