@model IEnumerable<HRMSModels.AttendanceModel>
@using HRMSProject.Models;
@{
    ViewBag.Title = "AttendanceRequest";
}


<div class="main-grid-body">
    @Html.Partial("AttendanceRequestGridPartial", Model)
</div>

