@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Attendance.css" rel="stylesheet" />

<div class="container mt-4">
    <h2 class="mb-4">Attendance</h2>


    <h4>Attendance Calendar</h4>
    <div id="fullcalendar"></div>

    <div id="reportBox" style="display:none; position:fixed; top:30%; left:50%;
    transform:translate(-50%, -30%); background: rgb(191, 191, 191); padding:20px;
    border-radius:8px; box-shadow:0 2px 10px rgba(0,0,0,0.3); z-index:999;">
        <h4>Attendance Report</h4>

        <p><strong>Date:</strong> <span id="reportDate"></span></p>

        <!-- ye row ab JS me control hogi -->
        <p id="reportStatusRow">
            <strong>Status:</strong> <span id="reportStatus"></span>
        </p>
    </div>



</div>
