@model IEnumerable<HRMSModels.AttendanceModel>
@using HRMSProject.Models;
@{
    ViewBag.Title = "Manage";
}

@{
    Pager pager = ViewBag.pager;
}

<link href="~/Content/Attendance.css" rel="stylesheet" />


<div class="container mt-4">
    <h2 class="mb-4">Attendance</h2>

    <h4> Employee</h4>


    @using (Html.BeginForm())
    {
      
            @Html.DropDownList(
                     "empId",
                     ViewBag.IDs as List<SelectListItem>,
                     new
                     {
                         @id = "employeeDropdown",
                         @class = "form-control employee-dropdown",
                         onchange = "document.getElementById('attendanceForm').submit();"
                     }
                 )

            <div class="d-flex align-items-center mb-3 mt-2">
                <div class="me-2" style="margin-top:15px; margin-bottom:15px;">
                    <label for="startDate" class="me-1">Start</label>
                    <input type="date"
                           id="startDate"
                           name="startDate"
                           class="form-control"
                           style="width:auto;"
                           value="@ViewBag.SelectedStartDate" />
                </div>
                <div style="margin-top:15px; margin-bottom:15px;">
                    <label for="endDate" class="me-1">End</label>
                    <input type="date"
                           id="endDate"
                           name="endDate"
                           class="form-control"
                           style="width:auto;"
                           value="@ViewBag.SelectedEndDate" />
                </div>
            </div>

            <div class="col-md-3 d-flex align-items-end">
                <button type="submit" class="btn btn-primary w-100" style="margin-top:15px; margin-bottom:15px;">Submit</button>
            </div>
        }


        <div class="main-grid-body">
            @Html.Partial("AttendanceGridPartial", Model)
        </div>
 </div>
    