/*<-- main content ka -->*/
#welcomeText {
    padding: 5px 10px 5px 10px; 
    margin-bottom: 5px;
}

.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 11px;
    box-sizing: border-box;
    margin-top: 0px;
    padding-top: 0px;
    margin-left:5px;
}

.card {
    background-color: #f0f0f0;
    color: black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    min-width: 251px;
    min-height: 150px;
    display: flex;
    flex-direction: row;
    border: 0.8px solid lightgray;
}

    .card:hover {
        transform: translateY(-5px);
    }

    .card h3 {
        margin: 0px;
        font-size: 20px;
    }

    .card p {
        font-size: 28px;
        font-weight: bold;
    }
#leaveChart {
    min-height: 150px;
    margin: 10px auto 0 auto;
    display: block;
}
