
.page-title {
    color: #0a2240;
    font-weight: bold;
    margin-top: 1px;
    font-size: 24px;
    margin-bottom: 25px;
}

.profile-card {
    display: flex;
    align-items: flex-start;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 30px;
    margin-top: 20px;
}
.profile-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #007bff;
}
.form-card-body {
    align-items: stretch;
    display: grid;
    gap: 15px;
}

.form-group {
    margin-bottom: 10px;
}




/* Button */

.changpassbutton{
    margin-top:25px;
}
.btn-custom {
    background: linear-gradient(to right, #0a2240, #007bff);
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    text-decoration:none;
}

    .btn-custom:hover {
        background: linear-gradient(to right, #007bff, #5ab1f2);
        text-decoration: none;
    }

.w-100 {
    width: 100%;
}

