body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    height: 100vh; 
}

html {
    height: 100%;
}

.container {
    width: 100vw;
    height: 100vh;
    padding: 10px;
    padding-left: 15px;
    padding-right:15px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 10px; 
    box-shadow: none; 
}

.page-title {
    color: #0a2240;
    font-weight: bold;
    margin-top: 1px;
    font-size: 24px;
    margin-bottom: 25px;
}

.profile-card {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 10px;
    gap: 40px;
}

.profile-image {
    margin:35px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #0a2240;
}

.profile-details {
    text-align: left;
    max-width: 450px;
}

    .profile-details h5 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 15px;
    }

.info-row {
    display: flex;
    margin-bottom: 8px;
}

    .info-row label {
        width: 140px;
        font-weight: 600;
        color: #555;
    }

    .info-row span {
        color: #000;
    }

/* Button */

.changpassbutton{
    margin-top:25px;
}
.btn-custom {
    background: linear-gradient(to right, #0a2240, #007bff);
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    text-decoration:none;
}

    .btn-custom:hover {
        background: linear-gradient(to right, #007bff, #5ab1f2);
        text-decoration: none;
    }

.w-100 {
    width: 100%;
}

