
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.header img {
    width: 190px;
    height: 30px;
    margin-right: 10px;
}

.header h1 {
    font-size: 59px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: white;
    color: black;
    padding: 10px 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 8px rgba(0,0,0,0.1);
}

.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 220px;
    height: 100%;
    background-color: #343a40;
    color: white;
    padding-top: 20px;
}

    .sidebar ul {
        list-style-type: none;
        padding: 0;
    }

        .sidebar ul li {
            padding: 10px 20px;
        }

            .sidebar ul li a {
                color: white;
                text-decoration: none;
            }

            .sidebar ul li:hover {
                background-color: #495057;
            }

.main-content {
    margin-left: 220px;
    margin-top: 60px; 
    padding: 20px;
}
