
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/Profile.css" rel="stylesheet" />

<div class="container">
    <h2 class="page-title">Documents</h2>
    <ul>
        <li><a href="#" onclick="return false;">Salary Slip</a></li>
        
    </ul>
</div>


